<mat-toolbar>
  <button mat-icon-button class="menu-icon">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1>Mike's Car Store</h1>
  <span class="menu-spacer"></span>
  <button mat-flat-button [routerLink]="['/login']">
    Login
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div style="margin-left: 25px; margin-right: 25px;">
      <mat-list>
        <mat-list-item class="mat-h2" [routerLink]="['/home']" (click)="sidenav.toggle()"> Home </mat-list-item>
        <mat-list-item class="mat-h2" [routerLink]="['/about']" (click)="sidenav.toggle()"> About Us </mat-list-item>
       </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh; margin-left: 75px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>